html, body {
background: white;
font-family: 'Open-sans', sans-serif;
margin: 0;
padding: 0;
color: #444;
}
.page-header {
background: #D20000;
color: white;
padding: 0.5rem;
border-bottom: 2px solid rgba(0,0,0,0.25);
}
.page-header h1 {
font-size: 1rem;
font-weight: 400;
margin: 0;
}
.page-header h1 a {
color: white;
text-decoration: none;
}
.main-content {
margin: 0 auto;
max-width: 100rem;
}
.photo-thumb-list {
list-style-type: none;
padding: 0;
margin: 0.5rem 0;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-content: flex-start;
}
.photo-thumb-list li {
flex: 0 1 auto;
padding: 5px;
display: flex;
align-items: center;
}
.photo-thumb-list img {
border: 1px solid #333333;
display: block;
}
.paginator {
list-style-type: none;
padding: 0;
display: flex;
font-size: 0.8rem;
margin: 0 auto;
}
.paginator li a {
display: block;
text-decoration: none;
text-align: center;
width: 3rem;
}
.paginator li a.current {
font-weight: bold;
}
.paginator .pate-count {
color: #AAA;
}
.tag-list {
list-style-type: none;
padding: 0;
}
.tag-list li {
display: inline-block;
margin: 0.25rem 0;
}
.tag-list a {
display: block;
background: blue;
padding: 0.2rem 0.5rem;
text-decoration: none;
color: white;
border-radius: 0.5em;
font-size: 0.8rem;
}
.main-picture-detail {
max-width: 100%;
margin: 0;
border: 2px solid #333333;
background: #333333;
}
.main-picture-detail img {
display: block;
margin: 0 auto;
max-width: 100%;
height: auto;
max-height: 700px;
width: auto;
}
.main-picture-detail figcaption {
font-size: 0.9rem;
color: white;
background: #333333;
padding: 0.5rem;
display: flex;
}
.main-picture-detail figcaption p {
margin: 0;
flex: 1 0 auto;
width: 50%;
}
.main-picture-detail .picture-meta {
font-size: 0.7rem;
color: #cccccc;
}
dt {
float: left;
clear: left;
width: 9rem;
font-size: 0.9rem;
font-weight: bold;
}
dt:after {
content: ":";
}
dd {
font-size: 0.9rem;
font-style: italic;
}
dd, dt {
height: 1.5rem;
display: flex;
align-items: center;
}
.permalinks dt, .permalinks dd {
height: 2rem;
}
.permalink {
border: 1px solid #cccccc;
font-size: 0.8rem;
padding: 0.1rem;
margin: 0.1rem;
color: #888;
background: #eeeeee;
}
.permalink-link {
background: blue;
color: white;
border-radius: 50%;
display: inline-block;
padding: 0.5em;
text-decoration: none;
}
.main-footer {
font-size: 0.6rem;
text-align: center;
}
.main-footer a {
color: #AAA;
}
.extra-info {
margin: 0 1rem;
}