<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photolog</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600,800italic,700italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/favicon.ico?v=1"/>
</head>
<body>
<header class="page-header">
    <h1><a href="/">Photolog</a>
    {% block header %}{% endblock %}
    </h1>
</header>
<div class="main-content">
{% block content %}{% endblock %}
</div>
<footer class="main-footer">
    <p>
        <a href="/jobs/">Queue</a> -
        <a href="/jobs/bad/">Bad jobs</a> -
        <a href="/edit/tags/">Edit tags</a> -
        <a href="/edit/dates/">Edit dates</a> -
        <a href="/search/">Search</a>
    </p>
</footer>
</body>
</html>
