<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos web browser</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600,800italic,700italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="page-header">
    <h1><a href="/">Mediascream</a></h1>
</header>
<div class="main-content">
{% block content %}{% endblock %}
</div>
<footer class="main-footer">
    <p><a href="/bad_jobs/">Bad jobs</a> </p>
</footer>
</body>
</html>
