{% extends "base.html" %}
{% block content %}
<figure class="main-picture-detail">
<div class="image">
<a class="nav-link prev" href="{{ nav.prev }}"><i class="fa fa-chevron-left"></i></a>
<img src="{{ picture.web }}"/>
<a class="nav-link next" href="{{ nav.next }}"><i class="fa fa-chevron-right"></i></a>
</div>
<figcaption>
    <p>
    <span title="MD5: {{ picture.checksum }}">{{ picture.name }}</span>
        <span class="picture-meta">({{ picture.width }}x{{ picture.height }})
     - <abbr title="{{ picture.size }} bytes">{{ human_size }}</abbr></span>
    </p>
    <time>
        <a href="{{ url_for('view_year', year=picture.year) }}">{{ picture.year }}</a>-<a href="{{ url_for('view_month', year=picture.year,month=picture.month) }}">{{ month }}</a>-<a href="{{ url_for('view_day', year=picture.year,month=picture.month,day=picture.day) }}">{{ day }}</a>
    </time>
</figcaption>
</figure>

<section class="extra-info">
<dl>
<dt>Tagged (<a class="edit-tags" href="{{ url_for('tag_picture', key=picture.key) }}">Edit</a>)</dt>
<dd><ul class="tag-list">
{% for tag in tags %}
    <li>
    <a href="{{ url_for('view_tags', tag_list=tag) }}">{{ tag }}</a>
    </li>
{% endfor %}
</ul></dd>
<dt>Taken</dt>
<dd>{{ picture.date_taken }}</dd>
<dt>Uploaded</dt>
<dd>{{ picture.upload_date }}</dd>
<dt>Camera</dt><dd>{{ picture.camera }}</dd>
</dl>

<dl class="permalinks">
<dt><label for="link-original">Large (Exif)</label></dt>
    <dd><input id="link-original" class="permalink" readonly value="{{ picture.large }}">
    <a class="fa fa-chain permalink-link" href="{{ picture.large }}"></a></dd>
<dt><label for="link-web">Web (1200px)</label></dt>
    <dd><input id="link-web" class="permalink" readonly value="{{ picture.web }}">
    <a class="fa fa-chain permalink-link" href="{{ picture.web }}"></a></dd>
<dt><label for="link-original">Original</label></dt>
    <dd><input id="link-original"  class="permalink" readonly value="{{ picture.original }}">
    <a class="fa fa-chain permalink-link" href="{{ picture.original }}"></a></dd>
<dt><label for="link-original">Medium (320px)</label></dt>
    <dd><input id="link-original" class="permalink" readonly value="{{ picture.medium }}">
    <a class="fa fa-chain permalink-link" href="{{ picture.medium }}"></a></dd>
</dl>

<dl>
<dt>Flickr</dt>
{% if flickr.id %}
<dd><a href="{{ flickr.url }}">{{ flickr.id }}</a> </dd>
{% else %}
    <dd><em>Not in flickr</em></dd>
{% endif %}
<dt>Google Photos</dt>
{% if gphotos.id %}
<dd><a href="{{ gphotos.url }}">{{ gphotos.id }}</a> </dd>
{% else %}
    <dd><em>Not in Google photos</em></dd>
{% endif %}
<dt>Blob</dt>
<dd><a href="{{ url_for('picture_detail_blob', key=picture.key) }}">{{ picture.filename }}</a> </dd>
</dl>
</section>

{% endblock %}