{% extends "base.html" %}
{% block content %}
<section class="extra-info">
<form method="post">
    <table>
        <tr><td><input name="key_1" placeholder="Url..."/></td><td><input type="date" name="date_1" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><input name="key_2" placeholder="Url..."/></td><td><input type="date" name="date_2" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><input name="key_3" placeholder="Url..."/></td><td><input type="date" name="date_3" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><input name="key_4" placeholder="Url..."/></td><td><input type="date" name="date_4" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><input name="key_5" placeholder="Url..."/></td><td><input type="date" name="date_5" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><input name="key_6" placeholder="Url..."/></td><td><input type="date" name="date_6" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><input name="key_7" placeholder="Url..."/></td><td><input type="date" name="date_7" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><input name="key_8" placeholder="Url..."/></td><td><input type="date" name="date_8" placeholder="YYYY-MM-DD"/> </td></tr>
        <tr><td><textarea name="multikeys"></textarea></td><td><input type="date" name="multikeys_dates" placeholder="YYYY-MM-DD"/> </td></tr>
    </table>
    <p>
        <input type="submit" value="Change">
    </p>
</form>

<h2>Change day</h2>
<form method="post" action="{{ url_for('change_date') }}">
    <table>
        <tr>
            <td><label for="id_origin">Original</label></td>
            <td><input type="date" name="origin" id="id_origin" placeholder="YYYY-MM-DD"/></td>
        </tr>
        <tr>
            <td><label for="id_target">Original</label></td>
            <td><input type="date" name="target" id="id_target" placeholder="YYYY-MM-DD"/></td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Change">
    </p>
</form>

</section>
{% endblock %}