{% extends "base.html" %}
{% block content %}
<figure class="main-picture-detail">
<img src="{{ picture.medium }}"/>
<figcaption>
    <p>
    <span title="MD5: {{ picture.checksum }}">{{ picture.name }}</span>
        <span class="picture-meta">({{ picture.width }}x{{ picture.height }})</span>
    </p>
    <time>
        <a href="{{ url_for('view_year', year=picture.year) }}">{{ picture.year }}</a>-<a href="{{ url_for('view_month', year=picture.year,month=picture.month) }}">{{ picture.month }}</a>-<a href="{{ url_for('view_day', year=picture.year,month=picture.month,day=picture.day) }}">{{ picture.day }}</a>
    </time>
</figcaption>
</figure>

<section class="extra-info">
<pre>
{{ blob }}
</pre>
<form method="post">
    <p><label for="id_attr">Change attr</label>
        <input autofocus type="text" id="id_attr" name="attr"/>
        <input type="text" name="value"/>
        <input type="submit" value="Change">
    </p>
    <p><label><input type="checkbox" name="confirm"> Confirm</label></p>
</form>
</section>

{% endblock %}
