{% extends "base.html" %}
{% block content %}
<figure class="main-picture-detail">
<img src="{{ picture.medium }}"/>
<figcaption>
    <p>
    <span title="MD5: {{ picture.checksum }}">{{ picture.name }}</span>
        <span class="picture-meta">({{ picture.width }}x{{ picture.height }})</span>
    </p>
    <time>
        <a href="{{ url_for('view_year', year=picture.year) }}">{{ picture.year }}</a>-<a href="{{ url_for('view_month', year=picture.year,month=picture.month) }}">{{ picture.month }}</a>-<a href="{{ url_for('view_day', year=picture.year,month=picture.month,day=picture.day) }}">{{ picture.day }}</a>
    </time>
</figcaption>
</figure>

<section class="extra-info">
<ul class="tag-list">
{% for tag in tags %}
    <li>
    <a href="{{ url_for('view_tags', tag_list=tag) }}">{{ tag }}</a>
    </li>
{% endfor %}
</ul>
<form method="post">
    <p><label for="id_current_tags">Change tags</label>
        <input focus type="text" id="id_current_tags" name="tags" value="{{ current_tags }}"/>
        <input type="submit" value="Change">
    </p>
</form>
</section>

{% endblock %}
