{% extends "base.html" %}
{% block content %}
<section class="extra-info">
<h2>Years</h2>
<ul class="tag-list">
{% for year in years %}
    <li>
    <a href="{{ url_for('view_year', year=year) }}">{{ year }}</a>
    </li>
{% endfor %}
</ul>
<h2>Tags</h2>
<ul class="tag-list">
{% for tag in all_tags %}
    <li>
    <a href="{{ url_for('view_tags', tag_list=tag) }}">{{ tag }}</a>
    </li>
{% endfor %}
</ul>
<h2>Recent uploads</h2>
<ol class="photo-thumb-list">
{% for pic in recent %}
    <li>
    <a href="{{ url_for('picture_detail', key=pic.key) }}">
        <img src="{{ pic.thumb }}"/>
    </a>
    </li>
{% endfor %}
</ol>
<p><a href="{{ url_for('photo_list') }}">Browse all ({{ total }})</a></p>
</section>
{% endblock %}
