{% extends "base.html" %}
{% block content %}
<section class="extra-info">
<h2>Years</h2>
<ul class="tag-list">
{% for year in years %}
    <li>
    <a href="{{ url_for('view_year', year=year) }}">{{ year }}</a>
    </li>
{% endfor %}
</ul>
<h2>Tags</h2>
<ul class="tag-list">
{% for tag in all_tags %}
    <li>
    <a href="{{ url_for('view_tags', tag_list=tag) }}">{{ tag }}</a>
    </li>
{% endfor %}
</ul>
<h2>Recent uploads</h2>
<p class="nav-total-images"><a href="{{ url_for('photo_list') }}">Browse all <strong>({{ total }})</strong></a></p>
</section>
<ol class="photo-thumb-list">
{% for pic in recent %}
    <li class="format-{{ pic.format }}">
    <a href="{{ url_for('picture_detail', key=pic.key) }}">
        <img src="{{ pic.thumb }}"/>
    </a>
    </li>
{% endfor %}
</ol>

<ol class="paginator">
    <li><a><i class="fa fa-chevron-left"></i> </a></li>
    <li><a href="/photo/?page=1" class="current">1</a></li>
    <li><a href="/photo/?page=2" class="">2</a></li>
    <li><a href="/photo/?page=3" class="">3</a></li>
    <li><a href="/photo/?page=4" class="">4</a></li>
    <li><a href="/photo/?page=5" class="">5</a></li>
    <li><a href="/photo/?page=2"><i class="fa fa-chevron-right"></i> </a></li>
    <li><a href="/photo/?page={{ total_pages }}"><i class="fa fa-chevron-circle-right"></i></a></li>
    <li><form>
        <input type="number"  class="page-count" name="page" placeholder="{{ total_pages }} pages"/>
    </form></li>
</ol>
{% endblock %}
