<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photolog</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600,800italic,700italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>
    <link href="/favicon.ico?v=2" rel="icon" />
</head>
<body>
<header class="page-header">
    <h1><a href="/">Photolog</a>
    {% block header %}{% endblock %}
    </h1>
</header>
<div class="main-content">
<section class="extra-info">
<h1>Log in</h1>
<form action="{{ auth_url }}" method="get">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="url" name="me" value="">
    <input type="hidden" name="redirect_uri" value="{{ redirect_url }}">
    <input type="submit" value="Log in">
</form>
</section>

</div>
</body>
</html>
