{% extends "base.html" %}
{% block header %}
{% if year %}
    &raquo; <a href="{{ url_for('view_year', year=year) }}">{{ year }}</a>
    {% if month %} - {{ month }}{% endif %}
{% endif %}
{% if selected_tags %}
    &raquo; {{ ' - '.join(selected_tags) }}
{% endif %}
{% endblock %}

{% block content %}
<ol class="photo-thumb-list">
{% for pic in pictures %}
    <li>
    <a href="{{ url_for('picture_detail', key=pic.key) }}">
        <img src="{{ pic.thumb }}"/>
    </a>
    </li>
{% endfor %}
</ol>
<ol class="paginator">
{% if paginator.prev %}
    <li><a href="?page={{paginator.prev}}"><i class="fa fa-chevron-left"></i> </a></li>
{% else %}
    <li><a><i class="fa fa-chevron-left"></i> </a></li>
{% endif %}
{% for page in paginator.adjacent %}
    <li><a href="?page={{ page }}" class="{% if page == paginator.current %}current{% endif %}">{{ page }}</a></li>
{% endfor %}
{% if paginator.next %}
    <li><a href="?page={{paginator.next}}"><i class="fa fa-chevron-right"></i> </a></li>
{% else %}
    <li><a><i class="fa fa-chevron-right"></i> </a></li>
{% endif %}
    <li><form>
        <input type="number"  class="page-count" name="page" placeholder="{{ paginator.total_pages }} pages"/>
    </form></li>
</ol>
<section class="extra-info">
<h2>Year/Tags</h2>
{% if months %}
<ul class="tag-list">
    <li><a href="{{ url_for('view_year', year=year) }}">{{ year }}</a></li>
{% for month in months %}
    <li>
    {% if month.has_data %}
    <a href="{{ url_for('view_month', year=year, month=month.month) }}">{{ month.month }}</a>
    {% else %}
    <a class="disabled">{{ month.month }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
<ul class="tag-list">
    <li><a href="{{ url_for('photo_list') }}">All</a></li>
{% for year in years %}
    <li>
    <a href="{{ url_for('view_year', year=year) }}">{{ year }}</a>
    </li>
{% endfor %}
</ul>
<ul class="tag-list">
    <li><a href="{{ url_for('photo_list') }}">All</a></li>
{% for tag in all_tags %}
    <li>
    <a href="{{ url_for('view_tags', tag_list=tag) }}">{{ tag }}</a>
    </li>
{% endfor %}
</ul>
<p>Total images: {{ total }}</p>
</section>
{% endblock %}